/* Variables */

:root {
    --primary-color: #4CAF50;
    --dark-primary-color: #388E3C;
    --dark-green: #357a38;
    --accent-color: #03A9F4;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
    --gray: #767676;
}


/* Base Styles */

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    box-sizing: border-box;
    margin: 0;
    color: var(--primary-text-color);
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    background: white;
    @media sc(min-width: 450px) {
        font-size: 1.125rem;
    }
}

img {
    max-width: 100%;
}

h1 {
    display: block;
    color: var(--primary-color);
    display: block;
    line-height: 1;
    font-size: 2.5rem;
}

span {
    display: block;
    color: var(--dark-primary-color);
    font-size: 8rem;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.3;
}

h2 {
    color: var(--secondary-text-color);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/* Hero */

.hero {
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: #555555;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
}

.hero h1::before {
    content: "";
    display: block;
    margin: 0 auto 2rem;
    width: 60%;
    height: 1px;
    background-color: #555555;
}

.hero h1::after {
    content: "";
    display: block;
    margin: 2rem auto 0;
    width: 60%;
    height: 1px;
    background-color: #555555;
}


/* Intro */

.intro {
    color: white;
    display: flex;
}

.section-middle {
    background-color: var(--dark-green);
    padding: 2.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-middle h2 {
    color: white;
}

.section-left img,
.section-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: none;
}


/* About me */

.about-me {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    width: 100%;
}

.col-left {
    display: flex;
    flex-direction: column;
}

.about-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 20px auto;
}

.about-title {
    margin-bottom: 0;
}

.about-subtitle {
    margin-top: 2rem;
    margin-bottom: 0;
}

.about-me span {
    color: #388E3C;
}

.git-link {
    columns: var(--dark-green);
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    ;
}

.about-text a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* My Work */

.my-work {
    text-align: center;
    background: rgba(211, 211, 211, 0.2);
    padding: 5rem 0;
}

figure img {
    margin: 0;
    display: block;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin: 0;
    display: block;
}

.portfolio-item h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 2rem;
}

.portfolio-item figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 1.5rem;
    background: rgba(30, 69, 31, 0.6);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.portfolio-item a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid white;
    align-self: flex-start;
}

.port-title {
    color: white;
    font-size: 1.25rem;
    margin-bottom: auto;
}

.featured h2 {
    font-size: 3rem;
}

.project-desc {
    display: none;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/* Contact */

.contact-section h1 {
    text-align: center;
    margin-top: 70px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    display: block;
    padding: .25rem;
    width: 100%;
    background: rgba(211, 211, 211, 0.2);
    border: 1px solid gray;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

label {
    display: block;
    margin-top: 1rem;
}

.button {
    display: block;
    width: 30%;
    margin-top: 1rem;
    margin-left: auto;
    background: var(--primary-color);
    border: none;
    color: white;
    font-family: 'Six Caps', sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--dark-green);
}


/* Foooter */

footer {
    background-color: var(--dark-primary-color);
    padding: 3rem 0;
    text-align: center;
    margin-top: 5rem;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    max-width: 400px;
    margin: 2rem auto;
}

.social-icon {
    width: 50px;
}


/*******************
    MEDIA QUERIES
********************/

@media only screen and (min-width: 700px) {
    .section-left img,
    .section-right img {
        display: flex;
    }
    .section-left,
    .section-right {
        width: 20%;
    }
    .section-middle {
        width: 70%;
    }
    .about-img {
        width: 275px;
        height: 275px;
    }
    .project-desc {
        display: block;
    }
}

@media only screen and (min-width: 950px) {
    span {
        font-size: 10rem;
    }
    .section-left,
    .section-right {
        width: 40%;
    }
    .section-middle .about-img {
        width: 275px;
        height: 275px;
    }
    .about-me {
        flex-direction: row;
    }
    .col-left,
    .about-text {
        width: 50%;
        padding: .75rem;
    }
    .col-left {
        text-align: center;
        border-right: 1px solid black;
    }
    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        width: 85%;
    }
}